.active {
    border-bottom-color: #F7E32B;
    border-left: none;
    border-right:none;
    border-top: none;
    background-color: #2E2929;
    font-weight: 600;

}

.active-category {
    border-bottom-color: #2bff6d;
    border-left: none;
    border-right:none;
    border-top: none;
    background-color: #2E2929;
    font-weight: 600;
    font-size: 20px;

}

.no-active {
    border: #2E2929;
    background-color: #2E2929;

}
.no-active-category {
    border: #2E2929;
    background-color: #2E2929;
    font-size: 20px;

}

button {
    margin: 19.5px;
    color: #ffffff;
}

button:focus {
    outline: none;
}

.image-act {
    padding-top: 18px;
}

.tabs-font{
    font-size: small;
}


.container-image{
    position: relative;
    max-width:  100%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;

}